<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="doCheckout()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input id="first_name" formControlName="firstName" type="text">
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="firstName.errors!['required'] || firstName.errors!['notOnlyWhiteSpaces']">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName.errors!['minlength']">
                                        First Name must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="last_name">Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input id="last_name" formControlName="lastName" type="text">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="lastName.errors!['required'] || lastName.errors!['notOnlyWhiteSpaces']">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName.errors!['minlength']">
                                        Last Name must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input id="email" formControlName="email" type="text">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="email.errors!['required']">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors!['pattern']">
                                        Email must be a valid email address format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="country_shipping">Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" id="country_shipping"
                                    (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressCountry.errors!['required']">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="street_shipping">Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text" id="street_shipping">
                                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressStreet.errors!['required'] || shippingAddressStreet.errors!['notOnlyWhiteSpaces']">
                                        Street is required
                                    </div>
                                    <div *ngIf="shippingAddressStreet.errors!['minlength']">
                                        Street must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="city_shipping">City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text" id="city_shipping">
                                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressCity.errors!['required'] || shippingAddressCity.errors!['notOnlyWhiteSpaces']">
                                        City is required
                                    </div>
                                    <div *ngIf="shippingAddressCity.errors!['minlength']">
                                        City must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="state_shipping">State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" id="state_shipping">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressState.errors!['required']">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="zip_code_shipping">Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text" id="zip_code_shipping">
                                <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressZipCode.errors!['required'] || shippingAddressZipCode.errors!['notOnlyWhiteSpaces']">
                                        Zip code is required
                                    </div>
                                    <div *ngIf="shippingAddressZipCode.errors!['minlength']">
                                        Zip code must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>

                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="country_billing">Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" id="country_billing"
                                    (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressCountry.errors!['required']">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="street_billing">Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text" id="street_billing">
                                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressStreet.errors!['required'] || billingAddressStreet.errors!['notOnlyWhiteSpaces']">
                                        Street is required
                                    </div>
                                    <div *ngIf="billingAddressStreet.errors!['minlength']">
                                        Street must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="city_billing">City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text" id="city_billing">
                                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressCity.errors!['required'] || billingAddressCity.errors!['notOnlyWhiteSpaces']">
                                        City is required
                                    </div>
                                    <div *ngIf="billingAddressCity.errors!['minlength']">
                                        City must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="state_billing">State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" id="state_billing">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressState.errors!['required']">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="zip_code_billing">Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text" id="zip_code_billing">
                                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressZipCode.errors!['required'] || billingAddressZipCode.errors!['notOnlyWhiteSpaces']">
                                        Zip code is required
                                    </div>
                                    <div *ngIf="billingAddressZipCode.errors!['minlength']">
                                        Zip code must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="card_type">Card Type</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType" id="card_type">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                                <div *ngIf="cardType.invalid && (cardType.dirty || cardType.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="cardType.errors!['required']">
                                        Card Type is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="name_on_card">Name on Card</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text" id="name_on_card">
                                <div *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="nameOnCard.errors!['required'] || nameOnCard.errors!['notOnlyWhiteSpaces']">
                                        Name on Card is required
                                    </div>
                                    <div *ngIf="nameOnCard.errors!['minlength']">
                                        Name on Card must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="card_number">Card Number</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text" id="card_number">
                                <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="cardNumber.errors!['required']">
                                        card Number is required
                                    </div>
                                    <div *ngIf="cardNumber.errors!['pattern']">
                                        card Number must be in 16 digits format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="security_code">Security Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text" id="security_code">
                                <div *ngIf="securityCode.invalid && (securityCode.dirty || securityCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="securityCode.errors!['required']">
                                        security Code is required
                                    </div>
                                    <div *ngIf="securityCode.errors!['pattern']">
                                        security Code must be in 3 digits format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="expiration_month">Expiration Month</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth" id="expiration_month">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="expiration_year">Expiration Year</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" id="expiration_year"
                                    (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency: 'EUR' }}</p>
                </div>

                <!-- submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>

            </form>
        </div>
    </div>
</div>